*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 187, 0);
}
.f{
    position: absolute;
    display: flex;
    margin-left: 33%;
    margin-top: 100px;
    height: auto;
}
h1{
    color: black;
}
h1:nth-child(1){
   font-size: 200px;
   font-weight: bold;
   font-family: 'Rubik', sans-serif;
   color: black;
   animation-name: start;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   animation-delay: 0s;
}
h1:nth-child(2){
    font-size: 200px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: black;
    animation-name: start;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
 }
 h1:nth-child(3){
    font-size: 200px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: black;
    animation-name: start;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
 }
 h1:nth-child(4){
    font-size: 200px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: black;
    animation-name: start;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
 }
 h1:nth-child(5){
    font-size: 200px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: black;
    animation-name: start;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
 }
 h1{
    color: black;
}
@keyframes start {
    0%{
         opacity: 0%;
        
    }
   
    100%{
        
        opacity: 100%;
       margin-top: 100px;
    }
}
h1{
    text-shadow: 10px 10px rgb(255, 0, 0);
    transition: 1s;
}
